<!-- Começo footer -->
<footer class="pt-4 pb-4 text-center text-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4>Endereço</h4>
          <p>R. Manoel Antunes Corrêa, 1277<br>Centro – Tubarão/SC</p>
        </div>
        <div class="col-md-4 mb-3 mb-md-0">
          <h4>Redes socias</h4>
          
          <span class="redes-sociais">
            <a href="https://www.facebook.com/Peti9Sistemas/" target="_blank" class="nav-link text-light">
              <i class="fa fa-facebook-official" aria-hidden="true"></i>
            </a>
          
            <a href="https://www.instagram.com/peti9sistema/" target="_blank" class="nav-link text-light">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </span>
        </div>
        <div class="col-md-4">
          <h4>Contato</h4>
          <a href="mailto:comercial@peti9.com" class="text-light"><i class="fa fa-envelope mr-2" aria-hidden="true"></i>comercial@peti9.com</a>
          <p><i class="fa fa-phone mr-2" aria-hidden="true"></i>(48) 3052-3222</p>
        </div>
      </div>
    </div>
</footer>
<!-- Fim footer -->