<!-- Começo cadastro de pets -->
<section id="cadastro" class="pb-5">
    <div class="container">
      
      <h1 class="display-5 text-center pt-4 pb-4 text-dark">Cadastramento Pets</h1>
  
       <!-- Formulário de cadastramento do pet -->
      <div class="row mb-5 text-dark">
        <div class="col-12">
          <form>
            <div class="form-row">
  
              <!-- Cadastro nome pet -->
              <div class="form-group col-md-3 col-lg-4">
                <label for="nomePet">Nome do Pet</label>
                <input type="text" class="form-control" id="nomePet">
              </div>
  
              <!-- Cadastro espécie pet -->
              <div class="form-group col-md-3 col-lg-3">
                <label for="especiePet">Espécie</label>
                <select id="especiePet" class="form-control">
                  <option selected>Selecione</option>
                  <option>Gato</option>
                  <option>Cachorro</option>
                </select>
              </div>
  
              <!-- Cadastro porte pet -->
              <div class="form-group col-md-3 col-lg-2">
                <label for="portePet" class="d-block mb-3">Porte</label>
                <div class="custom-control custom-radio custom-control-inline mr-2">
                  <input type="radio" id="porteP" name="porte" class="custom-control-input">
                  <label class="custom-control-label" for="porteP">P</label>
                </div>
  
                <div class="custom-control custom-radio custom-control-inline mr-2">
                  <input type="radio" id="porteM" name="porte" class="custom-control-input">
                  <label class="custom-control-label" for="porteM">M</label>
                </div>
  
                <div class="custom-control custom-radio custom-control-inline mr-2">
                  <input type="radio" id="porteG" name="porte" class="custom-control-input">
                  <label class="custom-control-label" for="porteG">G</label>
                </div>
              </div>
  
              <!-- Cadastro data de nascimento pet -->
              <div class="form-group col-md-3 col-lg-3">
                <label for="dataNascimento">Data de Nascimento</label>
                <input type="date" name="dataNascimento" class="form-control">
              </div>
            </div>
  
            <div class="form-row">
              
              <!-- Cadastro foto pet -->
              <div class="form-group col-md-6 col-lg-4">
                <label for="uploadFoto">Insira uma foto do seu pet</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                  </div>
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile01">Selecione uma foto</label>
                  </div>
                </div>
              </div>
  
              <!-- Botão cadastrar -->
              <div class="form-group col-md-4 col-lg-3">
                <button type="submit" class="btn btn-danger btn-cadastrar">Cadastrar</button>
              </div>
  
            </div>
          </form>
        </div>
      </div>
      
      <!-- Pets cadastrados -->
      <div class="row">
  
        <!-- Info pet -->
        <div class="col-sm-6 col-md-3 mb-4">
          <div class="card">
           <button type="button" class="btn btn-edit position-absolute" title="Editar">
            <i class="fa fa-pencil-square-o text-warning" aria-hidden="true"></i>
           </button>
            <img src="./assets/cat-cong-h.jpg" class="card-img-top" alt="Phoebe">
            <div class="card-body pt-2 pb-2">
              <h5 class="card-title mb-1 text-light">Phoebe</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item pt-1 pb-1 text-secondary">Gato - Porte P</li>
              <li class="list-group-item pt-1 pb-1 text-secondary">7 meses e 6 dias</li>
              <li class="list-group-item pt-1 pb-1 text-secondary">Castrada</li>
            </ul>
          </div>
        </div>
  
        <!-- Info pet -->
        <div class="col-sm-6 col-md-3 mb-4">
          <div class="card">
            <button type="button" class="btn btn-edit position-absolute" title="Editar">
              <i class="fa fa-pencil-square-o text-warning" aria-hidden="true"></i>
             </button>
            <img src="./assets/dog-jamie-street.jpg" class="card-img-top" alt="Gilbert">
            <div class="card-body pt-2 pb-2">
              <h5 class="card-title mb-1 text-light">Gilbert</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item pt-1 pb-1 text-secondary">Cachorro - Porte M</li>
              <li class="list-group-item pt-1 pb-1 text-secondary">9 meses e 6 dias</li>
              <li class="list-group-item pt-1 pb-1 text-secondary">Não castrado</li>
            </ul>
          </div>
        </div>
  
        <!-- Info pet -->
        <div class="col-sm-6 col-md-3 mb-4">
          <div class="card">
            <button type="button" class="btn btn-edit position-absolute" title="Editar">
              <i class="fa fa-pencil-square-o text-warning" aria-hidden="true"></i>
             </button>
            <img src="./assets/cat-ludemeula-fernandes.jpg" class="card-img-top" alt="Meredith">
            <div class="card-body pt-2 pb-2">
              <h5 class="card-title mb-1 text-light">Meredith</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item pt-1 pb-1 text-secondary">Gato - Porte M</li>
              <li class="list-group-item pt-1 pb-1 text-secondary">1 ano, 6 meses e 3 dias</li>
              <li class="list-group-item pt-1 pb-1 text-secondary">Castrada</li>
            </ul>
          </div>
        </div>
  
        <!-- Info pet -->
        <div class="col-sm-6 col-md-3 mb-4">
          <div class="card">
            <button type="button" class="btn btn-edit position-absolute" title="Editar">
              <i class="fa fa-pencil-square-o text-warning" aria-hidden="true"></i>
             </button>
            <img src="./assets/dog-marliese-streefland.jpg" class="card-img-top" alt="Shawn">
            <div class="card-body pt-2 pb-2">
              <h5 class="card-title mb-1 text-light">Shawn</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item pt-1 pb-1 text-secondary">Cachorro - Porte M</li>
              <li class="list-group-item pt-1 pb-1 text-secondary">10 meses e 6 dias</li>
              <li class="list-group-item pt-1 pb-1 text-secondary">Castrado</li>
            </ul>
          </div>
        </div>
  
        <!-- Info pet -->
        <div class="col-sm-6 col-md-3 mb-4">
          <div class="card">
            <button type="button" class="btn btn-edit position-absolute" title="Editar">
              <i class="fa fa-pencil-square-o text-warning" aria-hidden="true"></i>
             </button>
            <img src="./assets/cat-miron-cristina.jpg" class="card-img-top" alt="Anitta">
            <div class="card-body pt-2 pb-2">
              <h5 class="card-title mb-1 text-light">Anitta</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item pt-1 pb-1 text-secondary">Gato - Porte P</li>
              <li class="list-group-item pt-1 pb-1 text-secondary">11 meses e 6 dias</li>
              <li class="list-group-item pt-1 pb-1 text-secondary">Não Castrada</li>
            </ul>
          </div>
        </div>
  
      </div>
    </div>
</section>
<!-- Fim cadastro de pets -->