<!-- Começo banner -->
<carousel [pauseOnFocus]="true" class="d-none d-sm-block">
    <slide>
    <img src="./assets/dog-matthew-henry.jpg" alt="First slide" class="img-fluid">
    <div class="carousel-caption d-none d-md-block">
        <h3>Jon Snow</h3>
        <p>Conheça sua história <a class="btn text-light btn-sm" href="#">clique aqui.</a></p>
    </div>
    </slide>
    <slide>
    <img src="./assets/cat-mikhail-vasilyev.jpg" alt="Second slide" class="img-fluid">
    <div class="carousel-caption d-none d-md-block">
        <h3>Arya Stark</h3>
        <p>Conheça sua história <a class="btn text-light btn-sm" href="#">clique aqui.</a></p>
    </div>
    </slide>
    <slide>
    <img src="./assets/cat-marko-blazevic.jpg" alt="Third slide" class="img-fluid">
    <div class="carousel-caption d-none d-md-block">
        <h3>Daenerys Targaryen</h3>
        <p>Conheça sua história <a class="btn text-light btn-sm" href="#">clique aqui.</a></p>
    </div>
    </slide>
</carousel>
<!-- Fim banner -->