<!-- Começo menu -->
<nav class="nav-principal navbar navbar-expand bg-light navbar-dark fixed-top">
  <div class="container">

    <!-- Logo da empresa -->
    <a class="navbar-brand" href="#" title="Peti9">
      <img src="./assets/logo-peti9.png" alt="Peti9">
    </a>

    <!-- Redes sociais -->
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto pr-2 social-media">
        <li class="nav-item">
          <a href="https://www.facebook.com/Peti9Sistemas/" target="_blank" class="nav-link">
            <i class="fa fa-facebook-official" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://www.instagram.com/peti9sistema/" target="_blank" class="nav-link">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
        </li>
      </ul>

      <!-- Menu hamburguer -->
      <span class="navbar-nav">
        <button type="button" class="btn" (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
          <i class="fa fa-bars text-light" aria-hidden="true"></i>
        </button>

        <div id="collapseBasic" [collapse]="isCollapsed" class="position-absolute">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Cadastro Pets</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contato</a>
            </li>
          </ul>
        </div>  
      </span>   
    </div>

  </div>
</nav>
<!-- Fim menu -->

<!-- Começo banner -->
<carousel [pauseOnFocus]="true" class="d-none d-sm-block">
  <slide>
    <img src="./assets/dog-matthew-henry.jpg" alt="First slide" class="img-fluid">
    <div class="carousel-caption d-none d-md-block">
      <h3>Jon Snow</h3>
      <p>Conheça sua história <a class="btn text-light btn-sm" href="#">clique aqui.</a></p>
    </div>
  </slide>
  <slide>
    <img src="./assets/cat-mikhail-vasilyev.jpg" alt="Second slide" class="img-fluid">
    <div class="carousel-caption d-none d-md-block">
      <h3>Arya Stark</h3>
      <p>Conheça sua história <a class="btn text-light btn-sm" href="#">clique aqui.</a></p>
    </div>
  </slide>
  <slide>
    <img src="./assets/cat-marko-blazevic.jpg" alt="Third slide" class="img-fluid">
    <div class="carousel-caption d-none d-md-block">
      <h3>Daenerys Targaryen</h3>
      <p>Conheça sua história <a class="btn text-light btn-sm" href="#">clique aqui.</a></p>
    </div>
  </slide>
</carousel>
<!-- Fim banner -->

<!-- Começo cadastro de pets -->
<section id="cadastro" class="pb-5">
  <div class="container">
    <h1 class="display-5 text-center pt-4 pb-4 text-dark">{{ title }}</h1>

     <!-- Formulário de cadastramento do pet -->
    <div class="row mb-5 text-dark">
      <div class="col-12">
        <form>
          <div class="form-row">
            <div class="form-group col-md-3 col-lg-4">
              <label for="nomePet">Nome do Pet</label>
              <input type="text" class="form-control" id="nomePet" placeholder="Nome do Pet">
            </div>
            <div class="form-group col-md-3 col-lg-3">
              <label for="especiePet">Espécie</label>
              <select id="especiePet" class="form-control">
                <option selected>Selecione</option>
                <option>Gato</option>
                <option>Cachorro</option>
              </select>
            </div>
            <div class="form-group col-md-3 col-lg-2">
              <label for="portePet" class="d-block mb-3">Porte</label>
              <div class="custom-control custom-radio custom-control-inline mr-2">
                <input type="radio" id="porteP" name="porte" class="custom-control-input">
                <label class="custom-control-label" for="porteP">P</label>
              </div>

              <div class="custom-control custom-radio custom-control-inline mr-2">
                <input type="radio" id="porteM" name="porte" class="custom-control-input">
                <label class="custom-control-label" for="porteM">M</label>
              </div>

              <div class="custom-control custom-radio custom-control-inline mr-2">
                <input type="radio" id="porteG" name="porte" class="custom-control-input">
                <label class="custom-control-label" for="porteG">G</label>
              </div>
            </div>

            <div class="form-group col-md-3 col-lg-3">
              <label for="dataNascimento">Data de Nascimento</label>
              <input type="date" name="dataNascimento" class="form-control">
            </div>
          </div>
          <div class="form-row">
            
            <div class="form-group col-md-6 col-lg-4">
              <label for="uploadFoto">Insira uma foto do seu pet</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                </div>
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                  <label class="custom-file-label" for="inputGroupFile01">Selecione uma foto</label>
                </div>
              </div>
            </div>
            <div class="form-group col-md-4 col-lg-3">
              <button type="submit" class="btn btn-danger btn-cadastrar">Cadastrar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    
    <!-- Pets cadastrados -->
    <div class="row">

      <!-- Info pet -->
      <div class="col-sm-6 col-md-3 mb-4">
        <div class="card">
         <button type="button" class="btn btn-edit position-absolute" title="Editar">
          <i class="fa fa-pencil-square-o text-warning" aria-hidden="true"></i>
         </button>
          <img src="./assets/cat-cong-h.jpg" class="card-img-top" alt="Phoebe">
          <div class="card-body pt-2 pb-2">
            <h5 class="card-title mb-1 text-light">Phoebe</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item pt-1 pb-1 text-secondary">Gato - Porte P</li>
            <li class="list-group-item pt-1 pb-1 text-secondary">7 meses e 6 dias</li>
            <li class="list-group-item pt-1 pb-1 text-secondary">Castrada</li>
          </ul>
        </div>
      </div>

      <!-- Info pet -->
      <div class="col-sm-6 col-md-3 mb-4">
        <div class="card">
          <button type="button" class="btn btn-edit position-absolute" title="Editar">
            <i class="fa fa-pencil-square-o text-warning" aria-hidden="true"></i>
           </button>
          <img src="./assets/dog-jamie-street.jpg" class="card-img-top" alt="Gilbert">
          <div class="card-body pt-2 pb-2">
            <h5 class="card-title mb-1 text-light">Gilbert</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item pt-1 pb-1 text-secondary">Cachorro - Porte M</li>
            <li class="list-group-item pt-1 pb-1 text-secondary">9 meses e 6 dias</li>
            <li class="list-group-item pt-1 pb-1 text-secondary">Não castrado</li>
          </ul>
        </div>
      </div>

      <!-- Info pet -->
      <div class="col-sm-6 col-md-3 mb-4">
        <div class="card">
          <button type="button" class="btn btn-edit position-absolute" title="Editar">
            <i class="fa fa-pencil-square-o text-warning" aria-hidden="true"></i>
           </button>
          <img src="./assets/cat-ludemeula-fernandes.jpg" class="card-img-top" alt="Meredith">
          <div class="card-body pt-2 pb-2">
            <h5 class="card-title mb-1 text-light">Meredith</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item pt-1 pb-1 text-secondary">Gato - Porte M</li>
            <li class="list-group-item pt-1 pb-1 text-secondary">1 ano, 6 meses e 3 dias</li>
            <li class="list-group-item pt-1 pb-1 text-secondary">Castrada</li>
          </ul>
        </div>
      </div>

      <!-- Info pet -->
      <div class="col-sm-6 col-md-3 mb-4">
        <div class="card">
          <button type="button" class="btn btn-edit position-absolute" title="Editar">
            <i class="fa fa-pencil-square-o text-warning" aria-hidden="true"></i>
           </button>
          <img src="./assets/dog-marliese-streefland.jpg" class="card-img-top" alt="Shawn">
          <div class="card-body pt-2 pb-2">
            <h5 class="card-title mb-1 text-light">Shawn</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item pt-1 pb-1 text-secondary">Cachorro - Porte M</li>
            <li class="list-group-item pt-1 pb-1 text-secondary">10 meses e 6 dias</li>
            <li class="list-group-item pt-1 pb-1 text-secondary">Castrado</li>
          </ul>
        </div>
      </div>

      <!-- Info pet -->
      <div class="col-sm-6 col-md-3 mb-4">
        <div class="card">
          <button type="button" class="btn btn-edit position-absolute" title="Editar">
            <i class="fa fa-pencil-square-o text-warning" aria-hidden="true"></i>
           </button>
          <img src="./assets/cat-miron-cristina.jpg" class="card-img-top" alt="Anitta">
          <div class="card-body pt-2 pb-2">
            <h5 class="card-title mb-1 text-light">Anitta</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item pt-1 pb-1 text-secondary">Gato - Porte P</li>
            <li class="list-group-item pt-1 pb-1 text-secondary">11 meses e 6 dias</li>
            <li class="list-group-item pt-1 pb-1 text-secondary">Não Castrada</li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- Fim cadastro de pets -->

<!-- Começo footer -->
<footer class="pt-4 pb-4 text-center text-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>Endereço</h4>
        <p>R. Manoel Antunes Corrêa, 1277<br>Centro – Tubarão/SC</p>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <h4>Redes socias</h4>
        
        <span class="redes-sociais">
          <a href="https://www.facebook.com/Peti9Sistemas/" target="_blank" class="nav-link text-light">
            <i class="fa fa-facebook-official" aria-hidden="true"></i>
          </a>
        
          <a href="https://www.instagram.com/peti9sistema/" target="_blank" class="nav-link text-light">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
        </span>
      </div>
      <div class="col-md-4">
        <h4>Contato</h4>
        <a href="mailto:comercial@peti9.com" class="text-light"><i class="fa fa-envelope mr-2" aria-hidden="true"></i>comercial@peti9.com</a>
        <p><i class="fa fa-phone mr-2" aria-hidden="true"></i>(48) 3052-3222</p>
      </div>
    </div>
  </div>
</footer>
<!-- Fim footer -->