<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="./assets/logo-peti9.png" alt="Peti9">
    </a>

    <div class="collapse navbar-collapse">
      <span class="navbar-nav ml-auto">
        <button type="button" class="btn btn-danger" (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </button>

        <div id="collapseBasic" [collapse]="isCollapsed">
          <div class="well well-lg card card-block card-header">Some content</div>
        </div>  
      </span>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="" class="nav-link"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </li>
      </ul>
    
    </div>
  </div>
</nav>



<carousel [pauseOnFocus]="true">
  <slide>
    <img src="https://source.unsplash.com/1366x400?nature" alt="First slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Kailou</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </slide>
  <slide>
    <img src="https://source.unsplash.com/1366x400?water" alt="Second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </slide>
  <slide>
    <img src="https://source.unsplash.com/1366x400?animal" alt="Third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </slide>
</carousel>
