@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.min.css';

$color-principal-orange: #cb5124;
$color-secundaria-green: #1d9b88;
$color-secundaria-green-opacity: rgba(29, 155, 136, 0.26);

/*** Menu principal ***/
.nav-principal {
    .navbar-collapse {
        .navbar-nav {
            &.social-media {
                .nav-item {
                    .nav-link {
                        color: $color-secundaria-green;
                    }
                }
            }
            .btn {
                background-color: $color-principal-orange;
                -webkit-border-radius: 100%;
                -moz-border-radius: 100%;
                border-radius: 100%;
                z-index: 91;
            }

            #collapseBasic {
                width: 176px;
                top: 0;
                right: 0;
                z-index: 90;
                padding: 100px 0;
                text-align: center;
                border-radius: 0 0 0 10px;
                background-color: $color-principal-orange;
            }
        }
    }
}
/*** Fim menu principal ***/


/*** Banner home ***/
carousel {
    slide {
        .btn {
            background-color: $color-secundaria-green;
        }
    }
}
/*** Fim banner home ***/

/*** Lista cadastro pets ***/
#cadastro {
    .card {
        .card-body {
            background-color: $color-secundaria-green;
        }
        .list-group {
            .list-group-item {
                font-size: 0.8rem;
            }
        }
    }
}
/*** Fim lista cadastro pets ***/

/*** Rodapé ***/
footer {
    background-color: $color-principal-orange;

    .redes-sociais {
        a {
            display: -webkit-inline-box;
            display: inline-flex;
            width: 1.25rem;
            height: 1.25rem;
            font-size: 1.3rem;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
        }
    }
}
/*** Fim rodapé ***/